.ui-jqgrid .ui-jqgrid-view,.ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-table,
.ui-jqgrid .ui-pg-selbox {
    font-size: 14px;
}
.ui-jqgrid .ui-jqgrid-titlebar{
    height: 40px;
    line-height: 24px;
    color: #ffffff;
    background-color: #4B8DF8;
    font-family: 'Open Sans';
    padding:0px;
    font-size: 18px;
    font-weight: 400;
}
.ui-jqgrid .ui-jqgrid-title {
    float: left;
    margin: 8px;
}

.ui-jqgrid .ui-widget-header{
    border-bottom:1px solid #D3D3D3;
}

.ui-jqgrid .ui-search-toolbar input[type="text"]{
    font-size: 12px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 0px;                
}                       
/*
.ui-jqgrid .ui-state-default, .ui-jqgrid .ui-widget-content .ui-state-default, .ui-jqgrid .ui-widget-header .ui-state-default {
    background: #F9F9F9;
    border: 1px solid #D3D3D3;               
    line-height: 15px;
    height: 45px;
    font-weight: bold;
    color: #777777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
*/

/*** Column headers ******/
.ui-jqgrid .ui-jqgrid-hdiv {
    /*background: #F9F9F9;*/
    border: 1px solid #D3D3D3;               
    line-height: 15px;
    /*height: 45px;*/
    font-weight: bold;
    color: #777777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize  {
    height: 45px !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    padding-top: 12px;
		padding-bottom: 12px;
}

/**** Data rows ***/
.ui-jqgrid tr.jqgfirstrow td {
    border:none; /*firefox fix*/
}

.ui-jqgrid tr.jqgrow,.ui-jqgrid tr.ui-row-ltr {
   border:none;
}
.ui-jqgrid tr.ui-row-ltr td {
    border-bottom: 1px solid #DDDDDD;
		border-right:none;
		padding:8px;
}


/*** alt row color fix ***/
.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary{
	background-image:none;
	background-color: #F9F9F9;
	opacity: 1;
}
.ui-jqgrid-btable .ui-widget-content.ui-state-hover{
	background-image:none;
	background-color: #F3F3F3;
	opacity: 1;
}

.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
    background-color: #EEDC94;	

    	/*background-image: -ms-linear-gradient(top, #FCEEC1, #EEDC94); 
		background-image: -webkit-linear-gradient(top, #fceec1, #eedc94); /* Safari 5.1+, Chrome 10+ */
		/*background-image: -moz-linear-gradient(top, #fceec1, #eedc94); /* Firefox 3.6 */
		/*background-image: -o-linear-gradient(top, #fceec1, #eedc94); /* Opera 11.10+ */
		/*background-image: linear-gradient(top, #fceec1, #eedc94); /* CSS3 Compliant */
		/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0); /* IE8 */

    background-image: #FCEEC1; 
    background-repeat: repeat-x;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		opacity: 1;
}


.ui-jqgrid .ui-icon-triangle-1-n {
    background-position: 1px -16px;
}

.ui-jqgrid tr.ui-search-toolbar th { 
    border-top-width: 0px !important; 
    border-top-color: inherit !important; 
    border-top-style: ridge !important 
}


/****** PAGER *******/
.ui-jqgrid .ui-jqgrid-pager {
    background: #F9F9F9;
    border: 1px solid #D3D3D3;               
    line-height: 15px;
    height: 45px;
}

.ui-jqgrid .ui-pg-input {
    font-size: inherit;
    width: auto;
}
.ui-jqgrid .ui-pg-selbox {
    display: block;
    height: auto;
    width: 70px;
	  margin: 0px;
		padding: 1px 4px;
	  line-height: normal;
}
.ui-jqgrid .ui-jqgrid-htable th div{
    overflow:visible;
}
.ui-jqgrid .ui-pager-control {
    height: 50px;
    position: relative;
}
.ui-pg-table .navtable .ui-corner-all{
    border-radius: 0px;
}
.ui-jqgrid .ui-pg-button:hover {
    padding: 1px;
}


.ui-jqgrid .loading {
    position: absolute; 
    top: 45%;
    left: 45%;
    width: auto;
    height: auto;
    z-index:101;
    padding: 6px; 
    margin: 5px;
    text-align: center;
    font-weight: bold;
    display: none;
    border-width: 2px !important; 
    font-size:11px;
}
