body{
	background-color: #ffffff;
}

/* MODAL */
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {height:90%; width:60%; color:#bbb; background-color:#FFF; border:4px solid #444; padding:12px; overflow-y: auto; overflow-x: hidden;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#000;}
#simplemodal-container h3 {color:#84b8d9;}